@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
SafeTravels is an estimation service created for the purpose of selecting the most economically feasible service for your trip.
    We currently provide estimates for the price and ETA of Uber and Lyft services.
    We will be adding new features such as Taxi estimates, and User functionality in the near future!

    Note: At the moment exception handling has not yet been implemented. Possible sources of error for a search query can include:
        - The Uber/Lyft service may not be available in the city containing the starting point
        - The distance of the trip is too long and is consequently not offered by either Uber or Lyft
</p>
