@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Email:</strong> <a href="mailto:gokul.u13@outlook.com">gokul.u13@outlook.com</a><br />
    <strong>Phone:</strong> (647)-207-7889
</address>
